@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  a {
    color: #4da3ff;
  }

  a:visited {
    color: #b388ff;
  }
}

@font-face {
  font-family: "KHDot";
  src: url("./KH-Dot-Akihabara-16.ttf") format("truetype");
}

body {
  font-family: "KHDot", sans-serif;
}
